DATABASE_URL="postgresql://postgres:password@localhost:5432/yappi_sushi"
JWT_SECRET="change-me-to-a-random-secret-string-at-least-32-chars"
PORT=4000
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,https://yappisushi.ee,https://www.yappisushi.ee